.idea/
__pycache__/

/TIMIT

/credentials.json
/delete_checkpoints.py
/valid_model_names.txt

/script_*.sh

/src/results
/src/datasets/*/original_dataset
/src/datasets/*/annotation
/src/datasets/*/computed_dataset
/src/datasets/*/external_data
/src/datasets/*/kaldi_data

/kaldi